<div [ngClass]="classToast">
  @if(isTypeStandardWithActions) {
    <i-feather [name]="toastIcon" [ngClass]="classIconVariant"></i-feather>
  }

  <div class="content">
    <div [ngClass]="classTitleText">{{ title }}</div>
    <div [ngClass]="classBodyText">{{ body }}</div>

    @if(isTypeStandardWithActions) {
      <div class="actions">
        <button [ngClass]="classActionPrimary">Button</button>
        <button [ngClass]="classActionSecondary">Button</button>
      </div>
    }
  </div>

  <i-feather name="x" [ngClass]="classIconClose" (click)="closeToast()"></i-feather>
</div>
