<div class="toast" [ngClass]="classVariant">
  @if(isTypeStandardWithActions) {
    <i-feather [name]="toastIcon" class="icon-variant" [ngClass]="classVariant" />
  }

  <div class="content">
    <div class="title-text" [ngClass]="classVariant">{{ title }}</div>
    <div class="body-text" [ngClass]="classVariant">{{ body }}</div>

    @if(isTypeStandardWithActions) {
      <div class="actions">
        <button class="action-primary" [ngClass]="classVariant">Button</button>
        <button class="action-secondary" [ngClass]="classVariant">Button</button>
      </div>
    }
  </div>

  <i-feather name="x" class="icon-close" [ngClass]="classVariant" (click)="closeToast()" />
</div>
