@use 'border-radius' as borderRadius;
@use 'colors' as colors;
@use 'typographies' as typographies;

button {
  @include typographies.pds-font-paragraph-03-semibold;
  border-radius: borderRadius.$pds-border-radius-full;
  background-color: colors.$pds-color-primary-purple-500;
  color: colors.$pds-color-gray-50;
  padding: 12px 16px;
  border: none;
}
