<button
  [type]="type"
  [disabled]="disabled"
  [class]="{
    'color-dark-purple': color === ButtonFieldColorEnum.DarkPurple,
    'color-dark-white': color === ButtonFieldColorEnum.DarkWhite,
    'color-ligth-purple': color === ButtonFieldColorEnum.LigthPurple,

    'size-medium': size === ButtonFieldSizeEnum.Medium,
    'size-small': size === ButtonFieldSizeEnum.Small,

    'variant-primary': variant === ButtonFieldVariantEnum.Primary,
    'variant-secondary': variant === ButtonFieldVariantEnum.Secondary,
    'variant-tertiary': variant === ButtonFieldVariantEnum.Tertiary,

    'icon-none': icon === ButtonFieldIconEnum.None,
    'icon-left': icon === ButtonFieldIconEnum.Left,
    'icon-right': icon === ButtonFieldIconEnum.Right,
  }"
>
  <ng-content></ng-content>
</button>
