/* Primary Palette */
$pds-color-primary-purple-50: #E7DDF8;
$pds-color-primary-purple-300: #AB88E7;
$pds-color-primary-purple-500: #6429CD;
$pds-color-primary-purple-700: #330072;
$pds-color-primary-purple-900: #1F0D3F;
$pds-color-primary-purple-main: $pds-color-primary-purple-500;
$pds-color-primary-purple-500-opacity-40: rgba($pds-color-primary-purple-500, 0.04);
$pds-color-primary-purple-500-opacity-240: rgba($pds-color-primary-purple-500, 0.24);
$pds-color-primary-purple-500-opacity-300: rgba($pds-color-primary-purple-500, 0.3);
$pds-color-primary-purple-500-opacity-400: rgba($pds-color-primary-purple-500, 0.4);
$pds-color-primary-purple-500-opacity-600: rgba($pds-color-primary-purple-500, 0.6);

$pds-color-primary-gray-50: #D8D8D6;
$pds-color-primary-gray-300: #75756D;
$pds-color-primary-gray-500: #1D1D1B;
$pds-color-primary-gray-700: #141413;
$pds-color-primary-gray-900: #030302;
$pds-color-primary-gray-main: $pds-color-primary-gray-500;

$pds-color-primary-indigo-50: #F6F6FC;
$pds-color-primary-indigo-300: #DFDFFF;
$pds-color-primary-indigo-500: #BDBDFF;
$pds-color-primary-indigo-700: #8A8AFF;
$pds-color-primary-indigo-900: #4646FF;
$pds-color-primary-indigo-main: $pds-color-primary-indigo-500;
$pds-color-primary-indigo-500-opacity-200: rgba($pds-color-primary-indigo-500, 0.2);
$pds-color-primary-indigo-500-opacity-600: rgba($pds-color-primary-indigo-500, 0.6);

/* Secondary Palette */
$pds-color-secondary-fuchsia-50: #FDF9FF;
$pds-color-secondary-fuchsia-300: #F3D7FF;
$pds-color-secondary-fuchsia-500: #E4A4FF;
$pds-color-secondary-fuchsia-700: #DD52DD;
$pds-color-secondary-fuchsia-900: #7500A0;
$pds-color-secondary-fuchsia-main: $pds-color-secondary-fuchsia-500;

$pds-color-secondary-purple-50: #F0DCFF;
$pds-color-secondary-purple-300: #BB65FF;
$pds-color-secondary-purple-500: #9610FF;
$pds-color-secondary-purple-700: #440099;
$pds-color-secondary-purple-900: #150030;
$pds-color-secondary-purple-main: $pds-color-secondary-purple-500;

/* Tertiary Palette */
$pds-color-tertiary-yellow-50: #FDECD0;
$pds-color-tertiary-yellow-300: #FACA7E;
$pds-color-tertiary-yellow-500: #F8AF3C;
$pds-color-tertiary-yellow-700: #C77C07;
$pds-color-tertiary-yellow-900: #754904;
$pds-color-tertiary-yellow-main: $pds-color-tertiary-yellow-500;

/* Grayscale */
$pds-color-gray-50: #F6F7FC;
$pds-color-gray-100: #E8E8ED;
$pds-color-gray-200: #D2D2D6;
$pds-color-gray-300: #B6B6BA;
$pds-color-gray-400: #9D9DA1;
$pds-color-gray-500: #828285;
$pds-color-gray-600: #666669;
$pds-color-gray-700: #4D4D4F;
$pds-color-gray-800: #282829;
$pds-color-gray-900: #0C0C0D;
$pds-color-gray-50-opacity-200: rgba($pds-color-gray-50, 0.2);
$pds-color-gray-50-opacity-800: rgba($pds-color-gray-50, 0.8);
$pds-color-gray-400-opacity-80: rgba($pds-color-gray-400, 0.08);
$pds-color-gray-400-opacity-300: rgba($pds-color-gray-400, 0.3);
$pds-color-gray-400-opacity-400: rgba($pds-color-gray-400, 0.4);
$pds-color-gray-400-opacity-600: rgba($pds-color-gray-400, 0.6);

/* Success Action Colors */
$pds-color-success-50: #D3F5EB;
$pds-color-success-300: #1AFFBA;
$pds-color-success-500: #00ECA5;
$pds-color-success-700: #00B880;
$pds-color-success-900: #006B4B;
$pds-color-success-main: $pds-color-success-500;
$pds-color-success-500-opacity-80: rgba($pds-color-success-500, 0.08);

/* Warning Action Colors */
$pds-color-warning-50: #FFEEB3;
$pds-color-warning-300: #FFDA57;
$pds-color-warning-500: #FFCA10;
$pds-color-warning-700: #DBAB00;
$pds-color-warning-900: #997700;
$pds-color-warning-main: $pds-color-warning-500;

/* Error Action Colors */
$pds-color-error-50: #FFB8C9;
$pds-color-error-300: #FF527B;
$pds-color-error-500: #ED0039;
$pds-color-error-700: #B8002C;
$pds-color-error-900: #660019;
$pds-color-error-main: $pds-color-error-500;
$pds-color-error-500-opacity-80: rgba($pds-color-error-500, 0.08);

/* Basic shades */
$pds-color-white-50: #FFFFFF;
$pds-color-black-300: #000000;
$pds-color-transparent: transparent;
