@use 'border-radius' as borderRadius;
@use 'colors' as colors;

$positioned: 10px;
$height-grid-area-top: 96px;
$width-poker-table: 775px;

.container {
  display: grid;
  grid-template-columns: 1fr $width-poker-table 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "top top top"
    "left center right"
    "bottom bottom bottom";
  gap: 10px;

  .top {
    grid-area: top;
    display: flex;
    width: 100%;

    app-poker-card-list {
      display: flex;
      width: 100%;
      justify-content: center;
      column-gap: 70px;
    }
  }

  .left {
    grid-area: left;
    display: flex;
    width: 100%;

    app-poker-card-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      padding-top: $height-grid-area-top;
      padding-bottom: $height-grid-area-top;
      row-gap: 40px;
    }
  }

  .center {
    grid-area: center;
    padding: 1rem;
  }

  .right {
    @extend .left;
    grid-area: right;

    app-poker-card-list {
      align-items: flex-start;
    }
  }

  .bottom {
    @extend .top;
    grid-area: bottom;
  }

  .container-poker-table {
    display: flex;
    width: 100%;
    height: 100%;

    .poker-table {
      display: grid;
      place-content: center;
      position: relative;
      z-index: 10;
      width: 100%;
      min-height: 345px;
      height: 100%;
      margin: auto;
      border-radius: borderRadius.$pds-border-radius-full;
      border: 2px solid colors.$pds-color-primary-purple-500;
      box-shadow:
        0px 0px 1px 0px colors.$pds-color-primary-indigo-500-opacity-200 inset,
        0px 0px 5px 0px colors.$pds-color-primary-purple-500;

      &::before, &::after {
        content: "";
        position: absolute;
        border-radius: inherit;
        user-select: none;
        pointer-events: none;
        border: 2px solid currentColor;
      }

      &::before {
        z-index: -10;
        inset: calc($positioned * 2);
        border: 2px solid colors.$pds-color-primary-indigo-500-opacity-600;
        box-shadow:
          0px 0px 2px 0px colors.$pds-color-primary-indigo-500-opacity-600 inset,
          0px 0px 1px 0px colors.$pds-color-primary-purple-500-opacity-600;
      }

      &::after {
        z-index: -20;
        inset: calc($positioned * 4);
        background-color: colors.$pds-color-primary-purple-900-opacity-600;
        border: 1px solid colors.$pds-color-primary-purple-500;
      }
    }
  }
}


:host {
  ::ng-deep {
    app-button-field {
      button {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }
}
