<div class="container">
  <div class="top">
    <app-poker-card-list [pokerCards]="tablePositionCard[TablePosition.Top]"></app-poker-card-list>
  </div>

  <div class="left">
    <app-poker-card-list [pokerCards]="tablePositionCard[TablePosition.Left]"></app-poker-card-list>
  </div>

  <div class="right">
    <app-poker-card-list [pokerCards]="tablePositionCard[TablePosition.Right]"></app-poker-card-list>
  </div>

  <div class="bottom">
    <app-poker-card-list [pokerCards]="tablePositionCard[TablePosition.Bottom]"></app-poker-card-list>
  </div>

  <div class="center">
    <div class="container-poker-table">
      <div class="poker-table">
        @if (gameStatus === GameStatusEnum.Loading) {
          <div class="container-spinner">
            <app-spinner-field></app-spinner-field>
            <span class="text-spinner">Contando votos</span>
          </div>
        }

        @if (meUser?.role === RoleEnum.Admin && someUserHasSelectedOnePokerCard) {
          @if (gameStatus === GameStatusEnum.Reveal) {
            <app-button-field (click)="revealCards()">Revelar cartas</app-button-field>
          }

          @if (gameStatus === GameStatusEnum.Reset) {
            <app-button-field (click)="resetGame()">Nueva Votacion</app-button-field>
          }
        }
      </div>
    </div>
  </div>
</div>
