@if (pokerTableService.tablePositionCard$ | async; as tablePositionCard) {
  <div class="container">
    <div class="top">
      <app-poker-card-list [pokerCards]="tablePositionCard[TablePosition.Top]" />
    </div>

    <div class="left">
      <app-poker-card-list [pokerCards]="tablePositionCard[TablePosition.Left]" />
    </div>

    <div class="right">
      <app-poker-card-list [pokerCards]="tablePositionCard[TablePosition.Right]" />
    </div>

    <div class="bottom">
      <app-poker-card-list [pokerCards]="tablePositionCard[TablePosition.Bottom]" />
    </div>

    <div class="center">
      <div class="container-poker-table">
        <div class="poker-table">
          @if (combinedObservable$ | async; as combinedObservable) {
            @if (combinedObservable.gameStatus === GameStatusEnum.Loading) {
              <div class="container-spinner">
                <app-spinner-field></app-spinner-field>
                <span class="text-spinner">Contando votos</span>
              </div>
            }

            @if (combinedObservable.meUser?.role === RoleEnum.Admin && combinedObservable.someUserHasSelectedCard) {
              @if (combinedObservable.gameStatus === GameStatusEnum.Reveal) {
                <app-button-field (click)="revealCards()">Revelar cartas</app-button-field>
              }

              @if (combinedObservable.gameStatus === GameStatusEnum.Reset) {
                <app-button-field (click)="resetGame()">Nueva Votacion</app-button-field>
              }
            }
          }
        </div>
      </div>
    </div>
  </div>
}
