<div class="container">
  <div class="top">
    @for (pokerCard of pokerCards.top; track pokerCard.value) {
      <app-poker-card />
    }
  </div>

  <div class="left">
    @for (pokerCard of pokerCards.left; track pokerCard.value) {
      <app-poker-card />
    }
  </div>

  <div class="center">
    <div class="container-poker-table">
      <div class="poker-table">
        Start Game
      </div>
    </div>
  </div>

  <div class="right">
    @for (pokerCard of pokerCards.right; track pokerCard.value) {
      <app-poker-card />
    }
  </div>

  <div class="bottom">
    @for (pokerCard of pokerCards.bottom; track pokerCard.value) {
      <app-poker-card />
    }
  </div>
</div>
