<div class="container">
  <div class="section-logo">
    <app-poker-chip />
    <div
      class="text-logo"
      [ngClass]="{
        'hidden': [HeaderStatusEnum.CreatePlayerOrViewGame, HeaderStatusEnum.InsideTheGame].includes(headerStatus),
      }"
    >
      Crear partida
    </div>
  </div>

  <div
    class="section-title"
    [ngClass]="{
      'hidden': [HeaderStatusEnum.CreatePlayerOrViewGame, HeaderStatusEnum.CreateGame].includes(headerStatus),
    }"
  >
    Sprint 32
  </div>

  <div
    class="section-player"
    [ngClass]="{
      'hidden': headerStatus === HeaderStatusEnum.CreateGame,
    }"
  >
    @if (headerStatus === HeaderStatusEnum.InsideTheGame) {
      <app-avatar-field
        text="LU"
        [variant]="avatarFieldVariant"
        [size]="avatarFieldSize"
      />
    }

    <app-button-field
      [color]="ButtonFieldColorEnum.DarkWhite"
      [variant]="ButtonFieldVariantEnum.Secondary"
    >
      {{ headerStatus === HeaderStatusEnum.CreatePlayerOrViewGame ? 'Compartir' : 'Invitar jugadores' }}
    </app-button-field>
  </div>
</div>
