@use 'colors' as colors;
@use 'typographies' as typographies;

p {
  margin: 0;
}

.container {
  padding: 35px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player-logo {
  @include typographies.pds-font-heading-03-bold;
  width: 60px;
  height: 60px;
  background-color: colors.$pds-color-primary-indigo-main;
  border-radius: 50%;
  color: colors.$pds-color-primary-purple-700;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .invite-players {

} */
