<div class="container">
  <div class="section-logo">
    <app-poker-chip />
    <div
      class="text-logo"
      [ngClass]="{
        'hidden': [HeaderStatusEnum.CreatePlayerOrViewGame, HeaderStatusEnum.InsideTheGame].includes(status),
      }"
    >
      Crear partida
    </div>
  </div>

  <div
    class="section-title"
    [ngClass]="{
      'hidden': [HeaderStatusEnum.CreatePlayerOrViewGame, HeaderStatusEnum.CreateGame].includes(status),
    }"
  >
    Sprint 32
  </div>

  <div
    class="section-player"
    [ngClass]="{
      'hidden': status === HeaderStatusEnum.CreateGame,
    }"
  >
    <div
      class="player-logo"
      [ngClass]="{
        'hidden': status === HeaderStatusEnum.CreatePlayerOrViewGame,
      }"
    >
      LU
    </div>

    <app-button-field
      [color]="ButtonFieldColorEnum.DarkWhite"
      [variant]="ButtonFieldVariantEnum.Secondary"
    >
      {{ status === HeaderStatusEnum.CreatePlayerOrViewGame ? 'Compartir' : 'Invitar jugadores' }}
    </app-button-field>
  </div>
</div>
