@use 'colors' as colors;

.container {
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  background: radial-gradient(
    50% 50% at 50% 50%,
    colors.$pds-color-primary-purple-700 0%,
    colors.$pds-color-primary-purple-900-opacity-980 100%
  );

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    user-select: none;
    pointer-events: none;
  }
}
