<div class="container">
  @for (toastMessage of toastMessages; track toastMessage) {
    <div
      class="toast"
      [ngClass]="{
        'error': toastMessage.variant === ToastVariant.Error,
        'success': toastMessage.variant === ToastVariant.Success,
        'alert': toastMessage.variant === ToastVariant.Alert,
        'information': toastMessage.variant === ToastVariant.Information,
      }"
    >
      @if(toastMessage.type === ToastType.StandardWithActions) {
        <i-feather
          [name]="getToastIcon(toastMessage.variant)"
          class="icon-variant"
          [ngClass]="{
            'error': toastMessage.variant === ToastVariant.Error,
            'success': toastMessage.variant === ToastVariant.Success,
            'alert': toastMessage.variant === ToastVariant.Alert,
            'information': toastMessage.variant === ToastVariant.Information,
          }"
        />
      }

      <div class="content">
        <div
          class="title-text"
          [ngClass]="{
            'error': toastMessage.variant === ToastVariant.Error,
            'success': toastMessage.variant === ToastVariant.Success,
            'alert': toastMessage.variant === ToastVariant.Alert,
            'information': toastMessage.variant === ToastVariant.Information,
          }"
        >
          {{ toastMessage.title }}
        </div>

        <div
          class="body-text"
          [ngClass]="{
            'error': toastMessage.variant === ToastVariant.Error,
            'success': toastMessage.variant === ToastVariant.Success,
            'alert': toastMessage.variant === ToastVariant.Alert,
            'information': toastMessage.variant === ToastVariant.Information,
          }"
        >
          {{ toastMessage.body }}
        </div>

        @if(toastMessage.type === ToastType.StandardWithActions) {
          <div class="actions">
            <button
              class="action-primary"
              [ngClass]="{
                'error': toastMessage.variant === ToastVariant.Error,
                'success': toastMessage.variant === ToastVariant.Success,
                'alert': toastMessage.variant === ToastVariant.Alert,
                'information': toastMessage.variant === ToastVariant.Information,
              }"
            >
              Button
            </button>

            <button
              class="action-secondary"
              [ngClass]="{
                'error': toastMessage.variant === ToastVariant.Error,
                'success': toastMessage.variant === ToastVariant.Success,
                'alert': toastMessage.variant === ToastVariant.Alert,
                'information': toastMessage.variant === ToastVariant.Information,
              }"
            >
              Button
            </button>
          </div>
        }
      </div>

      <i-feather
        name="x"
        class="icon-close"
        [ngClass]="{
          'error': toastMessage.variant === ToastVariant.Error,
          'success': toastMessage.variant === ToastVariant.Success,
          'alert': toastMessage.variant === ToastVariant.Alert,
          'information': toastMessage.variant === ToastVariant.Information,
        }"
        (click)="removeToast(toastMessage.id)"
      />
    </div>
  }
</div>
