@use 'colors' as colors;

.container {
  min-width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    50% 50% at 50% 50%,
    colors.$pds-color-primary-purple-700 0%,
    colors.$pds-color-primary-purple-900-opacity-980 100%
  );
}

.hidden {
  visibility: hidden;
}
