@use 'colors' as colors;
@use 'typographies' as typographies;

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 3rem;
  column-gap: 200px;

  .votes {
    display: flex;
    width: 100%;
    justify-content: end;
    column-gap: 1rem;
  }

  .average {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    width: fit-content;
    padding-top: 8px;

    .average-title {
      color: colors.$pds-color-white-50;
      @include typographies.pds-font-paragraph-02-regular;
    }

    .average-value {
      color: colors.$pds-color-white-50;
      @include typographies.pds-font-heading-02-bold;
    }
  }
}
