@use 'colors' as colors;
@use 'typographies' as typographies;
@use 'media-queries' as mediaQueries;

$height-header: 126px;

.container {
  display: grid;
  place-content: center;
  width: 100%;
  min-height: 100vh;
  margin-top: calc($height-header * -1);

  .container-modal {
    display: grid;
    place-content: center;
    height: 100%;

    .roles {
      margin-top: 18px;
      display: flex;
      justify-content: center;
      column-gap: 36px;

      .role {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;

        span {
          color: colors.$pds-color-white-50;
          @include typographies.pds-font-paragraph-03-regular;
        }
      }
    }

    app-button-field {
      margin: 40px auto 0 auto;
    }
  }
}
