<div class="container">
  <app-poker-table />

  <app-modal>
    <div class="container-modal">
      <app-input-field
        headerText="Tu nombre"
        [(value)]="playerName"
        [isValid]="isValidPlayerName"
        [isInvalid]="isInvalidPlayerName"
      />

      <div class="display-modes">
        <div class="display-mode">
          <span>Jugador</span>
          <app-radio-button-field
            [(selectedOption)]="currentDisplayMode"
            name="display-mode"
            [value]="DisplayModeEnum.Player"
          />
        </div>

        <div class="display-mode">
          <span>Espectador</span>
          <app-radio-button-field
            [(selectedOption)]="currentDisplayMode"
            name="display-mode"
            [value]="DisplayModeEnum.Spectator"
          />
        </div>
      </div>

      <app-button-field
        [disabled]="!playerName || !currentDisplayMode || isLoading"
        [color]="ButtonFieldColorEnum.DarkWhite"
        (click)="handleContinue()"
      >Continuar</app-button-field>
    </div>
  </app-modal>
</div>
