<div class="container">
  @if (headerText) {
    <div class="header-text" [ngClass]="classDisabled">{{ headerText }}</div>
  }

  <div class="input-wrapper">
    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [ngClass]="[classIsInvalid, classIsValid]"
      (input)="onInput($event)"
    >

    <div class="input-icon"></div>
  </div>

  @if (descriptionText) {
    <div
      class="description-text"
      [ngClass]="[classDisabled, classIsInvalid, classIsValid]"
    >
      <i-feather name="alert-triangle" class="icon-is-invalid" />
      <i-feather name="check" class="icon-is-valid" />
      <span>{{ descriptionText }}</span>
    </div>
  }
</div>
