<div class="container">
  @if (headerText) {
    <div class="header-text" [ngClass]="classDisabled">{{ headerText }}</div>
  }

  <div class="input-wrapper">
    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [ngClass]="classInput"
      (input)="onInput($event)"
    >
    <div class="input-icon"></div>
  </div>

  @if (descriptionText) {
    <div [ngClass]="classDescriptionText">
      <i-feather name="alert-triangle" class="icon-is-invalid"></i-feather>
      <i-feather name="check" class="icon-is-valid"></i-feather>
      <span>{{ descriptionText }}</span>
    </div>
  }
</div>
