<div class="container">
  <app-poker-table />

  @if (combinedObservable$ | async; as combinedObservable) {
    @if (
      combinedObservable.meUser?.displayMode === DisplayModeEnum.Player &&
      [
        GameStatusEnum.Reveal,
        GameStatusEnum.Loading
      ].includes(combinedObservable.gameStatus)
    ) {
      <app-card-selector
        [style]="{
          pointerEvents: (
            combinedObservable.gameStatus === GameStatusEnum.Loading
              ? 'none'
              : 'auto'
          ),
        }"
      />
    }

    @if (combinedObservable.gameStatus === GameStatusEnum.Reset) {
      <app-poker-score />
    }
  }

</div>
