@use 'media-queries' as mediaQueries;

$height-header: 126px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 50px;
  width: 100%;
  min-height: calc(100vh - $height-header);
  padding-top: 4rem;
}
