@use 'media-queries' as mediaQueries;

$height-header: 126px;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100vh - $height-header);

  app-poker-table {
    transform: scale(0.9);

    @include mediaQueries.desktop-large {
      padding-top: 6rem;
      transform: scale(1);
    }
  }
}
