@use 'border-radius' as borderRadius;
@use 'colors' as colors;
@use 'typographies' as typographies;

.container {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  &.small {
    max-width: 40px;
  }

  &.medium {
    max-width: 60px;
  }

  &.hidden {
    visibility: hidden;
  }

  .card {
    @include typographies.pds-font-heading-06-semibold;
    border: 1px solid colors.$pds-color-secondary-purple-300;
    border-radius: borderRadius.$pds-border-radius-m;
    cursor: pointer;
    display: grid;
    place-content: center;
    color: colors.$pds-color-white-50;

    &:not(.is-selected):hover {
      box-shadow:
        0px 0px 6px 0px colors.$pds-color-primary-indigo-500-opacity-600 inset,
        0px 5px 10px 0px colors.$pds-color-primary-purple-500-opacity-600;
    }

    &.small {
      width: 35px;
      height: 60px;
    }

    &.medium {
      width: 48px;
      height: 80px;
    }

    &.is-selected {
      background-color: colors.$pds-color-secondary-purple-300;

      &.picker {
        position: relative;
        top: -8px;
      }
    }

    &.picker {
      &:hover {
        background-color: colors.$pds-color-gray-400-opacity-600;
      }

      &.is-selected {
        box-shadow: none;
        background-color: colors.$pds-color-secondary-fuchsia-500;
        color: colors.$pds-color-primary-purple-700;
        box-shadow:
          0px 0px 6px 0px colors.$pds-color-primary-indigo-500-opacity-600 inset,
          0px 5px 10px 0px colors.$pds-color-primary-purple-500-opacity-600;
      }
    }
  }
}

:host ::ng-deep {
  @include typographies.pds-font-paragraph-03-regular;
  color: colors.$pds-color-white-50;
}
